
table {
    border-collapse: collapse;
}

table, td, th {
   border: 1px solid black;
}

th {
  border-radius: 25px;

}

th {
  width: 150px;
}

#mainform {
  margin-left: 50px;
  margin-top: 50px;
}

label {
   width: 100px;
   display: inline-block;

}

tr:nth-child(even) {
  background: #DBE9EE;
}

tr:nth-child(odd) {
  background: #EFF1EA;
}

.add-to-calendar-container {
  margin-left: 50px;
}


#table-container {
  margin-left: 50px;
  margin-top: 25px;
}
