#list-container ul li {
  display: inline;
}

table {
    border-collapse: collapse;
}

table, td, th {
   border: 1px solid black;
}

th {
  width: 100px;
}

#mainform {
  margin-left: 50px;
}

label {
   width: 100px;
   display: inline-block;

}




#table-container {
  margin-left: 50px;
}
